/* Color Variables */

:root {
    --mainBackground: #1b1b32;
    --appBackground: #3b3b4f;
    --buttonColor: #ffb73c;
    --buttonBorder: #feac32;
    --errorBackground: #ffadad;
    --errorTextBorder:  #9f2525; 
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--mainBackground);
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#main-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#main-header {
    text-align: center;
    font-size: 50px;
    color: white;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--appBackground);
    border: solid 2px white;
    width: 35%;
    height: 300px;
}

#app-header {
    color: white;
    font-size: 30px;
}

#number {
    background-color: black;
    color: white;
    font-size: 40px;
    width: 70%;
    height: 20%;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 7px;
}

#convert-btn {
    background-color: var(--buttonColor);
    width: 70%;
    height: 20%;
    font-size: 25px;
    border-color: var(--buttonBorder);
    box-shadow: 0px 2px 5px -1px black;
}

#convert-btn:active {
    box-shadow: 0px 0px 0px 0px;
    transform: translateY(2px);
}

#output {
    
}

.error-msg{
    margin: 0;
}

.error-result {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--errorBackground);
    width: 35%;
    min-height: 80px;
    height: auto;
    margin-top: 25px;
    text-align: center;
    border: 2px solid var(--errorTextBorder);
    color: var(--errorTextBorder);
    font-size: 40px;
    font-weight: 500;
}

.number-result {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--appBackground);
    width: 35%;
    min-height: 80px;
    height: auto;
    margin-top: 25px;
    text-align: center;
    border: 2px solid white;
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.hide {
    display: none;
}